include *.yml
include pytest.ini
recursive-include spec *.json
recursive-include src *.appcache
recursive-include src *.css
recursive-include src *.csv
recursive-include src *.eot
recursive-include src *.gif
recursive-include src *.htaccess
recursive-include src *.html
recursive-include src *.ico
recursive-include src *.js
recursive-include src *.mako
recursive-include src *.map
recursive-include src *.mp3
recursive-include src *.ogg
recursive-include src *.otf
recursive-include src *.pdf
recursive-include src *.png
recursive-include src *.pxm
recursive-include src *.py
recursive-include src *.svg
recursive-include src *.swf
recursive-include src *.ttf
recursive-include src *.txt
recursive-include src *.woff
recursive-include src *.woff2
recursive-include src *.xsd
exclude requirements.txt
exclude pytest
exclude appenv
exclude requirements.*
exclude .pre-commit-config.yaml
recursive-include src *.bak
