3rdparty/repoze.vhm-0.15sw1.tar.gz
3rdparty/gocept.loginuser-1.3a1.tar.gz
3rdparty/pdf-diff-0.9.0sw1.tar.gz
3rdparty/repoze.sendmail-4.2sw1.tar.gz
svglib3 == 0.2.0
apipkg == 1.4
beautifulsoup4 == 4.6.0
codecov == 2.0.10
coverage == 4.4.2
execnet == 1.5.0
gocept.testdb == 1.3
mock == 2.0.0
pep8 == 1.7.1
py == 1.5.2
pytest == 3.3.1
pytest-cache == 1.0
pytest-cov == 2.5.1
pytest-pep8 == 1.0.6
pytest-flakes == 2.0.0
pytest-platform-markers == 0.1.0
pytest-remove-stale-bytecode == 3.0
pytest-rerunfailures == 4.0
pytest-sugar == 0.9.0
termcolor == 1.1.0
unittest2 == 1.1.0
webtest == 2.0.29
xlrd == 1.1.0
zope.testbrowser == 5.2.4
alembic==0.9.1
mt-940==4.10.0
Babel==2.4.0
beautifulsoup4==4.6.0
bcrypt==3.1.3
beaker==1.8.1
cffi==1.10.0
click==6.7
fints==0.2.0
decorator==4.0.11
first==2.0.1
funcsigs==1.0.2
gocept.logging==0.8.1
xlsxwriter==0.9.6
html5lib==1.0b10
kontocheck==5.10.0
lnetatmo==1.2.1
mako==1.0.6
markdown==2.6.8
markupsafe==1.0
openpyxl==2.4.8
paste==2.0.3
pastedeploy==1.5.2
pastescript==2.0.2
pillow==4.1.1
pipdeptree==0.10.1
psycopg2==2.7.1
pybars3==0.9.3
pycparser==2.17
pymeta3==0.5.1
pypdf2==1.26.0
pyramid-beaker==0.8
pyramid-exclog==1.0
pyramid-mailer==0.15.1
pyramid-tm==2.0
pyramid-who==0.3
pyramid==1.9.1
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
radicale==1.1.2
reportlab==3.4.0
repoze.lru==0.6
repoze.who==2.3
requests==2.14.2
risclog.sqlalchemy==2.3
six==1.10.0
sqlalchemy==1.1.10
transaction==2.1.2
translationstring==1.3
ua-parser==0.7.3
user-agents==1.1.0
venusian==1.1.0
waitress==1.0.2
webob==1.7.2
xhtml2pdf==0.2b1
zope.component==4.3.0
zope.configuration==4.1.0
zope.deprecation==4.2.0
zope.event==4.2.0
zope.exceptions==4.1.0
zope.i18nmessageid==4.1.0
zope.interface==4.4.1
zope.schema==4.4.2
zope.sqlalchemy==0.7.7
